<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Freelanced uses your location in the background to automatically detect and log your business drives, so you don't have to start a trip manually. You can turn Automatic Mileage off anytime in Settings.</string>
	<key>NSMotionUsageDescription</key>
	<string>Freelanced uses motion activity to tell driving apart from walking, so Automatic Mileage only logs your drives.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.garbenTechnologies.BusinessTracker</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>freelanced</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
